:root {
  --dark-color: #171717;
  --secondary-color: #3da2c4;
  --offwhite-color: #f4f4f4;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
/* utilities */
.container{
  max-width: 1170px;
  margin: auto;
}
.btn {
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  color: var(--offwhite-color);
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 80%;
}

/*Navbar styling*/
.navbar{
  padding:1rem;
  background-color: black;
  color: white;
}
.navbar__nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__brand a {
  font-size: 1.4rem;
  color: var(--offwhite-color);
  text-decoration: none;
}
.nav__brand a:hover {
  color: var(--secondary-color);
}
.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.links__link a {
  display: block;
  padding: 1rem;
  color: var(--offwhite-color);
  text-decoration: none;
  margin-left: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  font-size: 20px;
}

.links__link a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
/* Searchbar Styles */
.searchbar {
  width: 50vw;
  margin-left : 25%;
  margin-top: 25px;
}

.searchbar__form > input {
  width: 80%;
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--offwhite-color);
  color: var(--dark-color);
  font-size: 20px;
  outline-width: 0ch;
  margin: 0 auto; 
}

.searchbar__form > input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
}
/* Alert Styles */
.alert {
  width:80%;
  padding: 10px 17px;
  font-size: 20px;
  border: 1px solid var(--dark-color);
  margin: 1rem 0;
}

.alert-warning {
  background: #f8ffc4;
  border: 1px solid #ffee00;
}

.alert-danger {
  background: #ffc4c4;
  border: 1px solid #ff0000;
}

.alert-info {
  background: #d7eafe;
  border: 1px solid #0523b7;
}
/* ListItem styles */
.listitem {
  text-decoration: none;
  width: 210px;
  background: var(--offwhite-color);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
}

.listitem:hover {
  transform: scale(1.03);
}

.listitem__info {
  color: var(--dark-color);
  text-align: center;
}

.info__name {
  font-size: 1rem;
  padding: 5px;
}

.info__rating {
  color: var(--secondary-color);
  padding: 5px;
}
/* Homepage Styles */
.homepage__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
/* Single Show Page Styles */
/* Single Show Page Styles */
.singleshow {
  display: flex;
  margin: 2rem;
}

.singleshow > img {
  margin-right: 2rem;
}

.singleshow__info p {
  margin: 1rem 0;
}

.singleshow__genre {
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: var(--secondary-color);
  color: var(--offwhite-color);
}
.singleshow__booknow{
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: red;
  color: var(--offwhite-color);
}
.singleshow__booknow:hover {
  border: 2px solid red;
  background-color: var(--offwhite-color) ;
  color: red;
}
.loading{
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;

}
.about {
  margin: 2rem 0;
  width: 100%;
}

.about__title {
  font-size: 2rem;
  margin: 1rem;
}

.about__info {
  width: 500px;
  margin: auto;
}

.about__info > p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.about__info > div > ul > li {
  margin-left: 2rem;
  padding: 0.5rem;
}
/*form-styling*/
.main_bg{
  background-color: var(--dark-color);
  max-width: 1280px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form{
  width: 650px;
}

.form-text{
  text-align: center;
  margin: 0 0 40px 0;
}
.form-text h1 span img{
  margin: 0 10px;

}
.form-text h1{
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}
.form-text p{
  color: #fff;
  font-size: large;
}

.main-form div{
  margin: 10px 10px;
  width: 300px;
  display: inline-block;
}
.main-form div input {
  width: 100%;
  background: none;
  border: 1px solid var(--second-color);;
  font-size: 20px;
  color: #fff;
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div select{
  width: 104%;
  background: none;
  border: 1px solid #ffca00;;
  font-size: 20px;
  color: #fff;
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div span{
  width: 100%;
  color: #fff;
  font-size: 25px;
}

#submit{
  width: 100%;
  text-align: center;
}
#submit input{
  
  width: 200px;
  background-color: yellow !important;
  color: var(--dark-color) !important;
  transition: all .3s;
}
#submit input:hover{
  
  width: 200px;
  background-color: var(--dark-color) !important;
  color: #fff !important;
}
#submit input:active{
  font-size: 19px;
  background-color: var(--dark-color) !important;
  color: #fff !important;
}


@media screen and (max-width:710px) {
  .main-form{
      text-align: center;
  }
}
#people{
background-color: var(--dark-color);
}